*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.burger-menu-box{
    position: absolute;
    top: 40px;
    left: 40px;
    height: 54px;
    width: 54px;
}

.burger-menu{
    height: 100%;
    width: 100%;
    background-color: var(--color-4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 300ms ease, 
                border-radius 300ms ease;
    cursor: pointer;
    /* overflow: hidden; */
}

.burger-menu:hover{
    border-radius: 30%;
    transition: background-color 300ms ease, 
                border-radius 300ms ease;
    background-color: var(--color-9);
}

.burger-menu:hover .burger-menu-svg svg{
    fill: var(--color-7);
    /* transition: fill 300ms ease; */
}

.burger-menu:active{
    transform: translateY(2px);
}

.burger-menu-svg{
    /* display: block; */
    height: 18px;
    width: 18px;
}

.burger-menu-svg svg{
    display: block;
    height: 100%;
    width: 100%;
    fill: var(--color-9);
    transition: all 300ms ease;
}