:root{
    --color-1: #202225;
    --color-2: #292b2f;
    --color-3: #2f3136;
    --color-4: #36393f;
    --color-5: #40444b;
    --color-6: #b9bbbe;
    --color-7: #ffffff;

    --color-8: #35584c;
    
    --color-9: #43b581;
    --color-9-h: #36b67c;

    --color-10: #7289da;
    --color-10-h: #7087dd;

    --color-11: #f04747;
    --color-11-h: #f13c3c;
}